[submodule "plugins/secrets"]
	path = plugins/secrets
	url = git@github.com:buildkite/s3-secrets-buildkite-plugin.git
[submodule "plugins/ecr"]
	path = plugins/ecr
	url = git@github.com:buildkite/ecr-buildkite-plugin.git
