[submodule "plugins/secrets"]
	path = plugins/secrets
	url = https://github.com/buildkite/elastic-ci-stack-s3-secrets-hooks.git

[submodule "plugins/ecr"]
	path = plugins/ecr
	url = https://github.com/buildkite-plugins/ecr-buildkite-plugin.git

[submodule "plugins/docker-login"]
	path = plugins/docker-login
	url = https://github.com/buildkite-plugins/docker-login-buildkite-plugin.git
