[
  {
    "ParameterKey": "BuildkiteAgentToken",
    "ParameterValue": "TokenGoesHere"
  },
  {
    "ParameterKey": "KeyName",
    "ParameterValue": "default"
  },
  {
    "ParameterKey": "ImageId",
    "ParameterValue": ""
  }
]
