[
  {
    "ParameterKey": "BuildkiteOrgSlug",
    "ParameterValue": "MyOrg"
  },
  {
    "ParameterKey": "BuildkiteAgentToken",
    "ParameterValue": "TokenGoesHere"
  },
  {
    "ParameterKey": "BuildkiteApiAccessToken",
    "ParameterValue": "ApiTokenGoesHere"
  },
  {
    "ParameterKey": "KeyName",
    "ParameterValue": "default"
  },
  {
    "ParameterKey": "ImageId",
    "ParameterValue": ""
  }
]