[Unit]
Description=Periodic health check for buildkite-agent to detect zombie instances

[Timer]
OnBootSec=5m
OnUnitActiveSec=5m
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
