[Unit]
Description=Periodic health check for buildkite-agent to detect zombie instances

[Timer]
OnBootSec=1h
OnUnitActiveSec=1h
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
