[Unit]
Description=Buildkite Agent
Documentation=https://buildkite.com/agent
After=syslog.target
After=network.target
After=docker.service

[Service]
Type=simple
User=buildkite-agent
Environment="HOME=/var/lib/buildkite-agent"
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="USER=buildkite-agent"
ExecStart=/usr/bin/buildkite-agent start
ExecStopPost=/usr/local/bin/terminate-instance
RestartSec=5
Restart=on-failure
RestartForceExitStatus=SIGPIPE
TimeoutStartSec=10
TimeoutStopSec=0
KillMode=process

[Install]
WantedBy=multi-user.target
DefaultInstance=1
