[Unit]
Description=iam ssh-agent
Documentation=https://github.com/keithduncan/iam-ssh-agent
After=syslog.target
After=network.target

[Service]
Type=simple
User=buildkite-agent
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="SSH_AUTH_SOCK=%t/ssh-agent.socket"
EnvironmentFile=/etc/iam-ssh-agent
ExecStart=/usr/bin/iam-ssh-agent daemon
RestartSec=5
Restart=on-failure
RestartForceExitStatus=SIGPIPE
TimeoutStartSec=10
TimeoutStopSec=0
KillMode=process

[Install]
WantedBy=multi-user.target
