[Unit]
Description=iam ssh-agent
Documentation=https://github.com/keithduncan/iam-ssh-agent
After=syslog.target
After=network.target

[Service]
Type=simple
User=buildkite-agent
RuntimeDirectory=ssh-agent
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment=SSH_AUTH_SOCK=%t/ssh-agent/socket
EnvironmentFile=/etc/iam-ssh-agent
ExecStart=/usr/bin/iam-ssh-agent daemon --bind-to $SSH_AUTH_SOCK
RestartSec=5
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
