[Unit]
Description=Setup Multi-Architecture Build Support with Binfmt
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
EnvironmentFile=/etc/docker-binfmt.env
ExecStartPre=-/usr/bin/docker pull ${DOCKER_BINFMT_IMAGE}
ExecStart=/usr/bin/docker run --privileged --userns=host ${DOCKER_BINFMT_IMAGE} --install all

[Install]
WantedBy=multi-user.target
