[Unit]
Description=Setup Multi-Architecture Build Support with Binfmt
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker pull \
    tonistiigi/binfmt:7.0.0-28@sha256:66e11bea77a5ea9d6f0fe79b57cd2b189b5d15b93a2bdb925be22949232e4e55
ExecStart=/usr/bin/docker run --privileged --userns=host \
    tonistiigi/binfmt:7.0.0-28@sha256:66e11bea77a5ea9d6f0fe79b57cd2b189b5d15b93a2bdb925be22949232e4e55 \
    --install all

[Install]
WantedBy=multi-user.target
